*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    color: dimgrey
}
.profile-img
{
    width: 38%;
    float: right;
}
.profile-img img
{
    width: 100%;
    height: 100%;
}
.about
{
    margin-left: 15px;
}
.profile-info
{
    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
    overflow: scroll;
    overflow-x: hidden
}
.profile-info::-webkit-scrollbar
{
    width: 0px;
}
.profile-info h1
{
    margin-top: 50px;
    margin-bottom: 30px;
}
.profile-info h2
{
    margin-top: 50px;
    margin-bottom: 15px;
}
.social-media img
{
     width: 40px;
    margin: -15px 10px;
}
.social-media
{
    margin-top: 20px;
    margin-left: 15px;
}
.social-media span
{
    margin: 3%; 
}
.expertise img
{
   height: 10%;
    margin: 5px;
}
.expertise
{
    display: inline-block;
    width: 28%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(37, 73, 214, 0.18);
    background-image: url(images/Backgroudsmoll.jpg)
}
.expertise small
{
    padding-top: 10px;
    display: block;
}
.form-box
{
    margin-top: 30px;
}
.input-group input
{
    width: 45%;
    border: 0;
    outline: none !important;
    padding: 10px;
    margin: 2%;
    display: inline-block;
    background: #fff;
}
.text-area textarea
{
    width: 95%;
    border: 0;
    outline: none !important;
    padding: 10px;
    margin: 2%;
    background: #fff;
}
.submit-button
{
    text-decoration: none;
    border: 0;
    outline: none !important;
    padding: 10px 20px;
    margin: 2%;
    background:  black;
    cursor: pointer;
    color: white;  
}
.submit-button:hover
{
    
    background: #8B0000 ;
    color: white;
}
.contact img
{
    width: 20px;
    margin: -5px 10px;
}
.contact span
{
    margin: 3%;
}
.contact
{
    margin: 5% 0 5% 25%;
    width: 65%;
}
@media only screen and (max-width:900px)
{
     .profile-img
    {
        width: :100%;
        
    }
    .profile-info
    {
        width: 100% ;
        overflow: inherit;
    }
   
    
}
